.grid-row {
  display: flex;
  clear: both;
  height: 100%;
}

.grid-col-6 {
  width: 50%;
}

button {
  border-width: 0px;
  border-color: #ffffff;
  border-style: solid 0;
  color: #ffffff;
  font-family: Lato;
  width: 120px;
  height: 36px;
  border-radius: 40px;
  box-shadow: inset 0 0 100px 102px rgb(0 0 0 / 0%);
  border: solid;
  cursor: pointer;
}
